<footer>
    {{!-- <p >This is footer for my web app created by {{name}}</p> --}}
    {{!-- 1. Hold down the ALT key and type 0169 on the numeric keypad.
          2. To type it on a laptop you may need to Hold down ALT+Fn and type the number 0169 while holding down AL. --}}
    <p>Copyright © 2019</p>
</footer>