<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css">
    <script src="/js/main.js"></script> --}}
</head>
<body>
    <h1>{{title}}
        <p>{{msg}}</p>
    </h1>
    <h3>
        This views directory will directly works for hbs files for showing the express server
        This is a test file in "views" directory for future references
    </h3>
</body>
</html>